/* assign margin left and right 10px to body tags, 15px to div tags, using a mixin */
@mixin bodymargins {
    margin-left: 10px;
    margin-right: 10px;
}
body {
    @include bodymargins()
}
div {
    margin-left: 10px;
    margin-right: 10px;
}
